body {
    background: url("/images/logo_small.gif") no-repeat right top;
    font-family: Arial, sans-serif;
}
#keyboard {
    clear: both;
}
#keyboard tr td {
    padding: 4px 8px;
    vertical-align: top;
}
.key_row div {
    float: left;
}
.key_block {
    border-collapse: separate;
    border-spacing: 8px;
    margin: 0;
    padding: 0;
}
.key_block tr td,
.key_row div {
    padding: 4px 8px;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
    font-family: monospace;
}
.key_block td.blank {
    border-color: transparent;
}
.key_small {
    font-size: 10px;
}
.key_row {
    clear: both;
}
.key_un {
    border-color: red;
    background-color: red;
}
.key_highlight {
    border-color: orange;
    background-color: orange;    
}
.key_pressed {
    border-color: green;
    background-color: green;
}
.key_mod.key_highlight {
    border-color: green;
    background-color: green;
}
.key_pressed_m {
    border-color: red;
    background-color: red;
}
#resetbutton {
    clear: both;
    padding: 16px;
}
#hidden_text {
    width: 1px;
    height: 1px;
    border: 0;
}
#key32 {
    width: 200px;
    text-align: center;
}
.key_name {
    font-family: monospace;
}
.label {
    float: left;
    padding-right: 20px;
    font-style: italic;
}
#notes {
    float: left;
    margin: 0 0 32px 20px;
    padding: 0;
}
#soundArea {
    float: right;
    margin-left: 2em;
    margin-top: 24px;
}
.pcliqGo img {
    padding: 2px;
    border: 2px solid gray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.pcliqGo:hover img {
    border-color: blue;
}
